.container{
  position: relative;

  display: flex;
  align-items: center;
  
  width: 100%;
  height: 100%;
}
.hoverarea{
  position: relative;

  width: 250px;
  height: 250px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 250px;

  animation: rotation 35s linear infinite;
}

.icon-pc {
  width: 100px;
  height: 100px;
}

.iconquali {
  position: absolute;
  width: 250px;
  height: 250px;

  border-radius: 50%;
  opacity: 1;
  transition: 0.9s;
}
.icon {
  transform: rotate(150deg);
  position: absolute;
  bottom: 0;
  top: 0;
}

#css {
  transform: rotate(30deg);
}

#html {
  transform: rotate(80deg);
}

#js {
  transform: rotate(130deg);
}
#php {
  transform: rotate(180deg);
}
#python {
  transform: rotate(230deg);
}
#react {
  transform: rotate(280deg);
}

#pc {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert(25%);
}

@keyframes rotation {
  0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}