.container {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 260px;
    height: 170px;

    margin: 0 25px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2px rgba( 80, 80, 120, 0.3);
}
.contentProgress{
    display: grid;
    place-items: center;
    position: relative;
    width: 50%;
}
.contentInfos{
    display: grid;
    place-items: center;
    position: relative;
    width: 40%;
}

.progressBar {
    display: grid;
    place-items: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: conic-gradient(#348cf0 calc(80 * 3.6deg), #dddddc 0deg)
}

.progressBar::before {
    content: '';
    position: absolute;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: #FFF;
}

.progressNumber {
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #333339;
}

.porcentagen {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}